<!DOCTYPE html>
<html lang="en">

<head>
    <meta name = 'viewport' content = 'width = device-width' initial-scale=1>
    {% load staticfiles %}
</head>

<body>
    <h1>Hello</h1>
</body>


<!-- register resources -->
<link rel='stylesheet' href="{% static 'users/organizerPortal.css' %}" type = 'text/css'/>
<script src = "{% static 'users/organizerPortal.js' %}"></script>
</html>
